* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.header-bg-color {
  background-color: #f6f2f2;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.nav-bg-color {
  background-color: #313030;
  margin-top: 5px;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-link {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 25px 15px 25px 15px;
  color: #e0e0e0;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-link:hover {
  background-color: #ff3f40;
}

.main-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.main-info-block-first {
  width: 50%;
}

.main-info-block-first h1 {
  text-transform: uppercase;
  font-size: 60px;
}

.main-info-block-first p {
  color: #494848;
  font-size: 16px;
  padding-top: 35px;
  padding-right: 100px;
  line-height: 25px;
}

.btn-block {
  margin-top: 30px;
}

.btn-block a {
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #ff2d2d;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 18px;
}

.video-block {
  position: relative;
  overflow: hidden;
  width: 50%;
  padding-bottom: 30%;
}

.resp-frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: -1px 0px 17px -2px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 0px 17px -2px rgba(0, 0, 0, 0.5);
}

.vidio-visible {
  display: none;
}

.provide-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 115px;
  margin-bottom: 105px;
}

.provide-first {
  width: 50%;
}

.provide-first h1 {
  color: #333333;
  font-size: 42px;
  text-transform: uppercase;
}

.provide-first p {
  margin-top: 30px;
  line-height: 25px;
  width: 70%;
}

.learn-more-btn {
  outline: none;
  border: none;
  background-color: white;
  margin-top: 55px;
  margin-bottom: 55px;
}

.learn-more-btn a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #ff2d2d;
  border: 2px solid #ff0000;
  font-size: 18px;
  padding: 10px 55px;
  border-radius: 5px;
}

.learn-more-btn a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(241, 241, 241, 0.8);
}

.provide-second {
  width: 50%;
}

.provide-second-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px;
}

.provide-second-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.provide-second p {
  color: #494848;
  font-size: 16px;
  width: 80%;
  line-height: 25px;
}

.provide-second img {
  margin-bottom: 30px;
}

.provide-second h3 {
  margin-bottom: 18px;
  color: #494848;
  font-size: 24px;
  font-weight: normal;
}

.gray-line {
  margin: 0 auto;
  height: 2px;
  width: 90%;
  background-color: #ececec;
  margin-bottom: 30px;
}

.feature-header h1 {
  text-transform: uppercase;
  font-size: 42px;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}

.feature-header p {
  color: #494848;
  text-align: center;
  margin-bottom: 30px;
  line-height: 25px;
}

.red-line {
  margin: 0 auto;
  height: 2px;
  width: 15%;
  background-color: #ff2d2d;
}

.feature-intro-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-intro-list ul {
  list-style-type: none;
}

.feature-intro-list ul li {
  margin-right: 60px;
}

.feature-intro-list ul li:hover a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #ff2d2d;
}

.feature-intro-list ul a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 22px;
  color: #494848;
  text-transform: uppercase;
  font-weight: bold;
}

.feature-intro-list li:last-child {
  margin-right: 0px;
}

.feature-intro-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 65px;
}

.feature-intro-img-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-intro-img-mini {
  margin-right: 10px;
  margin-bottom: 10px;
}

.feature-intro-img-mini img {
  width: 100%;
  height: 100%;
}

.meet-section {
  margin-top: 100px;
}

.meet-our-team-header {
  width: 50%;
}

.meet-our-team-header h1 {
  text-transform: uppercase;
  color: #494848;
  font-size: 42px;
  margin-bottom: 40px;
}

.meet-our-team-header p {
  font-size: 16px;
  color: #494848;
  margin-bottom: 30px;
  margin-left: 10px;
}

.meet-our-red-line {
  margin-left: 10px;
  height: 2px;
  background-color: #ff2d2d;
  width: 20%;
}

.meet-our-person {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.person-photo {
  margin-right: 20px;
}

.person-photo img {
  width: 320px;
  height: auto;
}

.person-info h3 {
  color: #494848;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.person-info p {
  font-size: 16px;
  margin-bottom: 25px;
  width: 50%;
}

.person-info ul {
  list-style-type: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 25px;
}

.person-info ul li {
  margin-right: 15px;
}

.person-info ul li:last-child {
  margin-right: 0px;
}

.person-info ul li a {
  display: block;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  font-style: italic;
  color: #494848;
  border-bottom: 1px solid white;
}

.person-info ul li a:hover {
  border-bottom: 1px solid red;
}

.person-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.person-photos-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.person-photos-box > div {
  width: 225px;
  height: auto;
  margin-right: 10px;
}

.person-photos-box > div img {
  width: 100%;
  height: 100%;
}

.contact-us-bg-dark {
  background-color: black;
  width: 100%;
  height: 512px;
  z-index: 10;
}

.contact-us-bg {
  height: 512px;
  z-index: 10;
  width: 100%;
  background-image: url(../img/bg-img.jpg);
  background-repeat: no-repeat;
}

.contact-us {
  text-align: center;
  z-index: 10000;
}

.contact-us h1 {
  color: #d5d5d5;
  font-size: 42px;
  padding-top: 140px;
}

.contact-us p {
  font-size: 16px;
  color: #d5d5d5;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-us-form input {
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  border: none;
  width: 300px;
}

.contact-us-form button {
  opacity: 100%;
  outline: none;
  border: none;
  background-color: #ff2d2d;
  font-size: 12px;
  padding: 15px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.get-in-touch-section {
  margin-bottom: 110px;
}

.get-in-touch-header {
  margin-top: 105px;
}

.get-in-touch-header h1 {
  font-size: 42px;
  color: #494848;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.get-in-touch-header p {
  font-size: 16px;
  color: #494848;
  width: 50%;
  margin-bottom: 50px;
  line-height: 25px;
}

.get-in-red-line {
  margin: 0px;
}

.get-in-contact-box {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.get-in-form {
  margin-right: 10px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.get-in-form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.get-in-form-input input {
  width: 300px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 5px;
  padding: 20px;
}

.get-in-form-input input:first-child {
  margin-right: 5px;
}

.get-in-form-input input::-webkit-input-placeholder {
  color: black;
  font-size: 16px;
}

.get-in-form-input input:-ms-input-placeholder {
  color: black;
  font-size: 16px;
}

.get-in-form-input input::-ms-input-placeholder {
  color: black;
  font-size: 16px;
}

.get-in-form-input input::placeholder {
  color: black;
  font-size: 16px;
}

.get-in-textarea {
  background-color: #e5e5e5;
  padding: 20px;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
}

.get-in-textarea::-webkit-input-placeholder {
  color: black;
  font-size: 16px;
}

.get-in-textarea:-ms-input-placeholder {
  color: black;
  font-size: 16px;
}

.get-in-textarea::-ms-input-placeholder {
  color: black;
  font-size: 16px;
}

.get-in-textarea::placeholder {
  color: black;
  font-size: 16px;
}

.textarea-btn {
  color: white;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 0px;
  background-color: #ff3b3b;
  font-weight: bold;
  border-radius: 5px;
}

.contact-info-box {
  padding: 100px 100px;
  width: 50%;
  background: #2d2d2d;
}

.contact-info-box h1 {
  color: #d5d5d5;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
}

.contact-info-box p {
  color: #d5d5d5;
  margin-bottom: 5px;
  line-height: 25px;
  font-size: 16px;
}

.footer-bg {
  background-color: #313030;
  height: 110px;
  width: 100%;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.footer-content-copyright {
  color: #8b8b8b;
  font-size: 16px;
}

.footer-social img {
  width: 34px;
  height: 34px;
}

.footer-social li {
  margin-right: 5px;
}
/*# sourceMappingURL=main.css.map */