* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
$gray-color: #494848;
// Header nav-bar

.header-bg-color {
  background-color: #f6f2f2;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.nav-bg-color {
  background-color: #313030;
  margin-top: 5px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
//
.nav-link {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 25px 15px 25px 15px;

  color: #e0e0e0;
  text-transform: uppercase;
  font-size: 14px;
  &:hover {
    background-color: #ff3f40;
  }
}

.show-nav-bar-hamburger {
  display: none;
}
.mobile-menu {
  flex-direction: column;
  background-color: #313030;
  margin-top: 5px;
}
#myLinks {
  display: none;
  position: absolute;
  top: 55px;
  z-index: 100000;
  width: 100%;
}
// Header block
.main-info-block {
  display: flex;
  margin-top: 100px;
}
.main-info-block-first {
  width: 50%;
  & h1 {
    text-transform: uppercase;
    font-size: 60px;
  }
  & p {
    color: $gray-color;
    font-size: 16px;
    padding-top: 35px;
    padding-right: 100px;
    line-height: 25px;
  }
}
.btn-block {
  margin-top: 30px;
  & a {
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #ff2d2d;
    padding: 10px 40px;
    border-radius: 5px;

    font-size: 18px;
  }
}

.video-block {
  position: relative;
  // padding-bottom: 56%;
  width: 50%;
  height: 0px;
  padding-bottom: 30%;
  -webkit-box-shadow: -1px 0px 17px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 0px 17px -2px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 0px 17px -2px rgba(0, 0, 0, 0.5);
  & iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.vidio-visible {
  display: none;
}

// provide-section

.provide-box {
  display: flex;
  margin-top: 115px;
  margin-bottom: 105px;
}

.provide-first {
  width: 50%;
  & h1 {
    color: #333333;
    font-size: 42px;
    text-transform: uppercase;
  }
  & p {
    margin-top: 30px;
    line-height: 25px;
    width: 70%;
  }
}

.learn-more-btn {
  & a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #ff2d2d;
    border: 2px solid #ff0000;
    font-size: 18px;
    padding: 10px 55px;
    border-radius: 5px;
    &:hover {
      transition: 0.5s;
      background-color: rgba(241, 241, 241, 0.8);
    }
  }
  outline: none;
  border: none;
  background-color: white;
  margin-top: 55px;
  margin-bottom: 55px;
}

.provide-second {
  width: 50%;
}
.provide-second-first {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.provide-second-second {
  display: flex;
  flex-direction: row;
}
.provide-second {
  & p {
    color: $gray-color;
    font-size: 16px;
    width: 80%;
    line-height: 25px;
  }
  & img {
    margin-bottom: 30px;
  }
  & h3 {
    margin-bottom: 18px;
    color: $gray-color;
    font-size: 24px;
    font-weight: normal;
  }
}
.gray-line {
  margin: 0 auto;
  height: 2px;
  width: 90%;
  background-color: #ececec;
  margin-bottom: 30px;
}
// feature section
.feature-header {
  & h1 {
    text-transform: uppercase;
    font-size: 42px;
    color: #333333;
    text-align: center;
    margin-bottom: 30px;
  }
  & p {
    color: $gray-color;
    text-align: center;
    margin-bottom: 30px;
    line-height: 25px;
  }
}
.red-line {
  margin: 0 auto;
  height: 2px;
  width: 15%;
  background-color: #ff2d2d;
}
.feature-intro-list {
  display: flex;
  justify-content: center;
  & ul {
    list-style-type: none;
    & li {
      margin-right: 60px;
      &:hover a {
        transition: 0.2s;
        color: #ff2d2d;
      }
    }
    & a {
      display: block;
      width: 100%;
      text-decoration: none;
      font-size: 22px;
      color: $gray-color;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  & li:last-child {
    margin-right: 0px;
  }
}

.feature-intro-img {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}
.feature-intro-img-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feature-intro-img-mini {
  margin-right: 10px;
  margin-bottom: 10px;
  & img {
    width: 100%;
    height: 100%;
  }
}

// our team section
.meet-section {
  margin-top: 100px;
}
.meet-our-team-header {
  width: 50%;
  & h1 {
    text-transform: uppercase;
    color: $gray-color;
    font-size: 42px;
    margin-bottom: 40px;
  }
  & p {
    font-size: 16px;
    color: $gray-color;
    margin-bottom: 30px;
    margin-left: 10px;
  }
}

.meet-our-red-line {
  margin-left: 10px;
  height: 2px;
  background-color: #ff2d2d;
  width: 20%;
}

.meet-our-person {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
}
.person-photo {
  // width: 30%;
  // margin-right: 50px;
  margin-right: 20px;
  & img {
    width: 320px;
    height: auto;
  }
}

.person-info {
  & h3 {
    color: $gray-color;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
  & p {
    font-size: 16px;
    margin-bottom: 25px;
    width: 50%;
  }
  & ul {
    list-style-type: none;
    justify-content: start;
    margin-bottom: 25px;
    & li {
      margin-right: 15px;
      &:last-child {
        margin-right: 0px;
      }
      & a {
        display: block;
        width: 100%;
        font-size: 18px;
        text-decoration: none;
        font-style: italic;
        color: $gray-color;
        border-bottom: 1px solid white;
        &:hover {
          border-bottom: 1px solid red;
        }
      }
    }
  }
}

.person-photos {
  display: flex;
  flex-direction: row;
}

.person-photos-box {
  display: flex;
  flex-direction: row;
  & > div {
    width: 225px;
    height: auto;
    margin-right: 10px;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.contact-us-bg-dark {
  background-color: black;
  // opacity: 50%;
  width: 100%;
  height: 512px;
  z-index: 10;
}
.contact-us-bg {
  height: 512px;
  z-index: 10;
  width: 100%;
  background-image: url(../img/bg-img.jpg);
  background-repeat: no-repeat;
}

.contact-us {
  text-align: center;
  z-index: 10000;
  & h1 {
    color: #d5d5d5;
    font-size: 42px;
    padding-top: 140px;
  }
  & p {
    font-size: 16px;
    color: #d5d5d5;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.contact-us-form {
  & input {
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    border: none;
    width: 300px;
  }
  & button {
    opacity: 100%;
    outline: none;
    border: none;
    background-color: #ff2d2d;
    font-size: 12px;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
}

// get in touch section
.get-in-touch-section {
  margin-bottom: 110px;
}
.get-in-touch-header {
  margin-top: 105px;
  & h1 {
    font-size: 42px;
    color: $gray-color;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  & p {
    font-size: 16px;
    color: $gray-color;
    width: 50%;
    margin-bottom: 50px;
    line-height: 25px;
  }
}
.get-in-red-line {
  margin: 0px;
}
.get-in-contact-box {
  margin-top: 75px;
  display: flex;
}
.get-in-form {
  margin-right: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.get-in-form-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;

  & input {
    width: 300px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
    padding: 20px;
    &:first-child {
      margin-right: 5px;
    }
    &::placeholder {
      color: black;
      font-size: 16px;
    }
  }
}
.get-in-textarea {
  background-color: #e5e5e5;
  padding: 20px;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
  &::placeholder {
    color: black;
    font-size: 16px;
  }
}
.textarea-btn {
  color: white;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 0px;
  background-color: #ff3b3b;
  font-weight: bold;
  border-radius: 5px;
}
.contact-info-box {
  padding: 100px 100px;
  width: 50%;
  background: #2d2d2d;

  & h1 {
    color: #d5d5d5;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
  }
  & p {
    color: #d5d5d5;
    margin-bottom: 5px;
    line-height: 25px;
    font-size: 16px;
  }
}
// footer
.footer-bg {
  background-color: #313030;
  height: 110px;
  width: 100%;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
.footer-content-copyright {
  color: #8b8b8b;
  font-size: 16px;
}
.footer-social {
  & img {
    width: 34px;
    height: 34px;
  }
  & li {
    margin-right: 5px;
  }
}
