* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

p {
  margin-bottom: 0.6rem;
}

$gray-color: #494848;

$sm: 476px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$section-pad-md: 40px 0;
$section-pad: 25px 0;

.section {
  padding: $section-pad;
  @media screen and (min-width: $md) {
    padding: $section-pad-md;
  }
}

// Header / Navbar
.header-bg-color {
  background-color: #f6f2f2;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $sm) {
    max-width: 540px;
  }
  @media screen and (min-width: $md) {
    max-width: 720px;
  }
  @media screen and (min-width: $lg) {
    max-width: 975px;
  }
  @media screen and (min-width: $xl) {
    max-width: 1140px;
  }
}

.nav-bg-color {
  background-color: #313030;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-link {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 25px 15px 25px 15px;

  color: #e0e0e0;
  text-transform: uppercase;
  font-size: 14px;
  &:hover {
    background-color: #ff3f40;
  }
}

.show-nav-bar-hamburger {
  display: none;
}

.mobile-menu {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  background-color: #313030;
}

#myLinks {
  display: none;
  position: absolute;
  top: 55px;
  z-index: 100000;
  width: 100%;
}

.title-left-subtext {
  @media screen and (min-width: $md) {
    & h1,
    p {
      padding-right: 50px;
      padding-right: 50px;
    }
  }

  & h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: $md) {
      font-size: 40px;
      text-align: left;
    }
  }
  & p {
    color: $gray-color;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;

    @media screen and (min-width: $md) {
      text-align: left;
    }
  }
}

.title-center-subtext {
  & h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: $md) {
      font-size: 40px;
    }
  }
  & p {
    color: $gray-color;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }
}

// First section
.main-info-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $md) {
    flex-direction: row;
  }

  &-first {
    @extend .title-left-subtext;
  }

  &-video {
    width: 100%;
    iframe {
      min-width: 300px;
      width: 100%;
      height: 300px;
      -webkit-box-shadow: -1px 0px 17px -2px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: -1px 0px 17px -2px rgba(0, 0, 0, 0.5);
      box-shadow: -1px 0px 17px -2px rgba(0, 0, 0, 0.5);
    }

    margin-top: 25px;

    @media screen and (min-width: $md) {
      margin-top: 0;
    }
  }
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #ff2d2d;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 20px;

  @media screen and (min-width: $md) {
    &.btn-block-md-auto {
      display: inline-block;
      width: auto;
    }
  }
}

// provide-section

.provide-item-list {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  @media screen and (min-width: $sm) {
    grid-template-columns: 1fr 1fr;
  }

  li {
    text-align: center;
    img {
      width: 30px;
      height: 30px;
    }
    h3 {
      margin-top: 10px;
      margin-bottom: 5px;
      color: $gray-color;
      font-size: 24px;
      font-weight: normal;
    }
    p {
      color: $gray-color;
      font-size: 16px;
      line-height: 25px;
    }

    @media screen and (min-width: $md) {
      text-align: left;
    }
  }
}

.gray-line {
  margin: 0 auto;
  height: 2px;
  width: 90%;
  background-color: #ececec;
}

.red-line {
  margin: 0 auto;
  height: 2px;
  width: 90%;
  background-color: #ff2d2d;
  @media screen and (min-width: $md) {
    width: 30%;
  }
  @media screen and (min-width: $lg) {
    width: 10%;
  }
}

// feature section

.feature-section {
  &-header {
    @extend .title-center-subtext;
    margin-bottom: 2rem;
  }

  &-navs {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    @media screen and (min-width: $md) {
      grid-gap: 5px;
      grid-template-columns: repeat(5, 1fr);
    }

    li {
      width: 100%;
      height: 100%;
      text-align: center;
      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-size: 16px;
        color: $gray-color;
        text-transform: uppercase;
        font-weight: bold;
        // @media screen and (min-width: $md) {
        // }
        @media screen and (min-width: $lg) {
          font-size: 22px;
          transition: color 0.1s;
          &:hover {
            color: #ff2d2d;
          }
        }
      }
    }
  }
}

.gallery {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-gap: 5px;

  @media screen and (min-width: $sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $md) {
    grid-template-columns: repeat(4, 1fr);
  }

  &-item {
    img {
      width: 100%;
      height: 100%;
    }
  }

  &.gallery-feature {
    margin-top: 2rem;
  }
}

// our team section
.meet-section {
  &-header {
    @extend .title-center-subtext;
    margin-bottom: 2rem;
  }

  &-team {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    @media screen and (min-width: $lg) {
      flex-direction: row;
    }

    &-main {
      text-align: center;

      @media screen and (min-width: $lg) {
        min-width: 400px;
      }

      img {
        width: 75%;
        @media screen and (min-width: $sm) and (max-width: $lg) {
          width: 45%;
        }
      }
    }

    &-others {
      overflow-x: hidden;

      .main-person {
        @extend .title-left-subtext;
        h1 {
          font-size: 1.7rem;
          @media screen and (max-width: $lg) {
            text-align: center;
          }
        }

        .social-links {
          display: flex;
          justify-content: center;
          margin-bottom: 25px;
          @media screen and (min-width: $lg) {
            justify-content: start;
          }

          li {
            margin-right: 15px;
            &:last-child {
              margin-right: 0px;
            }
            a {
              font-size: 16px;
              text-decoration: none;
              color: lighten($color: $gray-color, $amount: 15%);
              border-bottom: 1px solid white;
              &:hover {
                border-bottom: 1px solid red;
              }
            }
          }
        }

        @media screen and (min-width: $lg) {
          padding-right: 20%;
        }

        @media screen and (min-width: $xl) {
          padding-right: 35%;
        }
      }

      .others-pics {
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
        overflow-x: auto;
        li {
          height: 250px;
          width: 250px;
          min-height: 250px;
          min-width: 250px;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.person-photos {
  display: flex;
  flex-direction: row;
}

.person-photos-box {
  display: flex;
  flex-direction: row;
  & > div {
    width: 225px;
    height: auto;
    margin-right: 10px;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.contact-us-bg-dark {
  background-color: black;
  // opacity: 50%;
  width: 100%;
  height: 512px;
  z-index: 10;
}
.contact-us-bg {
  height: 512px;
  z-index: 10;
  width: 100%;
  background-image: url(../img/bg-img.jpg);
  background-repeat: no-repeat;
}

.contact-us {
  text-align: center;
  z-index: 10000;
  & h1 {
    color: #d5d5d5;
    font-size: 42px;
    padding-top: 140px;
  }
  & p {
    font-size: 16px;
    color: #d5d5d5;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.contact-us-form {
  & input {
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    border: none;
    width: 300px;
  }
  & button {
    opacity: 100%;
    outline: none;
    border: none;
    background-color: #ff2d2d;
    font-size: 12px;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
}

// get in touch section
.get-in-touch-section {
  margin-bottom: 110px;
}
.get-in-touch-header {
  margin-top: 105px;
  & h1 {
    font-size: 42px;
    color: $gray-color;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  & p {
    font-size: 16px;
    color: $gray-color;
    width: 50%;
    margin-bottom: 50px;
    line-height: 25px;
  }
}
.get-in-red-line {
  margin: 0px;
}
.get-in-contact-box {
  margin-top: 75px;
  display: flex;
}
.get-in-form {
  margin-right: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.get-in-form-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;

  & input {
    width: 300px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
    padding: 20px;
    &:first-child {
      margin-right: 5px;
    }
    &::placeholder {
      color: black;
      font-size: 16px;
    }
  }
}
.get-in-textarea {
  background-color: #e5e5e5;
  padding: 20px;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
  &::placeholder {
    color: black;
    font-size: 16px;
  }
}
.textarea-btn {
  color: white;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 0px;
  background-color: #ff3b3b;
  font-weight: bold;
  border-radius: 5px;
}
.contact-info-box {
  padding: 100px 100px;
  width: 50%;
  background: #2d2d2d;

  & h1 {
    color: #d5d5d5;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
  }
  & p {
    color: #d5d5d5;
    margin-bottom: 5px;
    line-height: 25px;
    font-size: 16px;
  }
}
// footer
.footer-bg {
  background-color: #313030;
  height: 110px;
  width: 100%;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
.footer-content-copyright {
  color: #8b8b8b;
  font-size: 16px;
}
.footer-social {
  & img {
    width: 34px;
    height: 34px;
  }
  & li {
    margin-right: 5px;
  }
}
// sds
