@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  .person-info {
    & p {
      width: 70%;
    }
  }
  .person-photos {
    justify-content: space-evenly;
  }
  .person-photos-box {
    display: flex;
    flex-direction: column;
    & > div {
      justify-content: space-between;
    }
    & img {
      // margin-bottom: 10px;
    }
  }
  .provide-second-first {
    & p {
      width: 100%;
      padding-right: 5px;
    }
  }
  .provide-second-second {
    & p {
      width: 100%;
      padding-right: 5px;
    }
  }
  .meet-our-team-header {
    width: 80%;
  }
}
@media (max-width: 860px) {
  .header-bg-color {
    height: 1000px;
  }
  .video-block {
    display: none;
  }
  .vidio-visible {
    display: block;
    height: 400px;
    margin-top: 20px;
    width: 100%;
    padding-bottom: 20%;
  }
  .main-info-block-first {
    width: 100%;
    & p {
      padding-right: 0px;
    }
  }
  .meet-our-team-header {
    width: 100%;
  }
  .provide-box {
    flex-direction: column;
  }
  .provide-first {
    width: 100%;
    & p {
      width: 100%;
    }
  }

  .provide-second {
    width: 100%;
  }
  .feature-intro-list {
    text-align: center;
    & ul li a {
      font-size: 15px;
    }
  }
  .container {
    width: 100%;
    padding: 0px 5px;
  }
  .person-info {
    & p {
      width: 100%;
    }
  }
  .meet-our-person {
    display: row;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .meet-our-red-line {
    width: 40%;
  }
  .get-in-touch-header {
    & p {
      width: 80%;
    }
  }
  .person-photo {
    margin-right: 0px;
  }
  .get-in-contact-box {
    flex-direction: column;
  }
  .contact-info-box {
    margin-top: 10px;
    width: 100%;
  }
  .get-in-form {
    width: 100%;
    margin-right: 0px;
  }
}
@media (max-width: 550px) {
  .meet-our-team-header {
    & p {
      text-align: justify;
      padding-right: 5px;
    }
  }
  .red-line {
    width: 50%;
  }
  .person-info {
    padding-left: 5px;
    padding-right: 5px;
    & p {
      text-align: justify;
    }
  }
  .feature-intro-img {
    padding-left: 5px;
  }
  .get-in-touch-header {
    & h1 {
      padding-left: 5px;
    }
    & p {
      padding-left: 5px;
      padding-right: 5px;
      text-align: justify;
    }
  }
  .provide-second-first {
    & p {
      padding-right: 0px;
      text-align: justify;
    }
  }
  .provide-second-second {
    & p {
      padding-right: 0px;
      text-align: justify;
    }
  }
  .provide-second {
    padding-left: 5px;
    padding-right: 5px;
  }
  .meet-our-red-line {
    width: 80%;
  }
  .person-photo {
    margin: auto;
  }
  .get-in-form-input {
    flex-direction: column;

    & input {
      margin: 0px;
      width: 100%;
      margin-bottom: 5px;
      &:first-child {
        margin-right: 0px;
      }
    }
  }
  .test-show-hamburger-nav {
    display: none;
  }
  .show-nav-bar-hamburger {
    display: block;
    width: 50px;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  .person-photos-box {
    & > div {
      width: 100%;
    }
    & img {
      padding-right: 5px;
    }
  }
  .get-in-touch-header {
    & p {
      width: 100%;
    }
  }
  .provide-first {
    padding-left: 5px;
    padding-right: 5px;
    & p {
      text-align: justify;
    }
    & h1 {
      font-size: 32px;
    }
  }
  .provide-second-first-first {
    margin-bottom: 15px;
  }
  .provide-second-second-first {
    margin-bottom: 15px;
  }
  .provide-second-first {
    flex-direction: column;
  }
  .provide-second-second {
    flex-direction: column;
  }
  .feature-intro-list {
    & ul li {
      margin-right: 10px;
    }
  }
  .container {
    width: 100%;
    padding: 0 0px;
    margin: 0 auto;
  }
  .main-info-block-first {
    padding-left: 5px;
    padding-right: 5px;
    & p {
      text-align: justify;
    }
    & h1 {
      font-size: 45px;
    }
  }
}

@media (max-width: 440px) {
  .contact-us {
    & h1 {
      padding-top: 60px;
      font-size: 35px;
    }
  }
  .contact-us-form {
    & button {
      margin-top: 10px;
    }
  }
}
@media (max-width: 430px) {
  .person-photos-box-left-side {
    padding-left: 5px;
  }
  .main-info-block-first {
    .feature-intro-list {
      & ul li a {
        font-size: 10px;
      }
    }
  }
}
